@import "../../styles/variables";

zs-table{
	display: block;
}

.table{
	display: table;
	width: 100%;
    box-sizing:border-box;
}

.table-fixed{
    table-layout: fixed;
}

.table-row{
	display: table-row;
}

.table-cell{
	display: table-cell;
}

.table-body,
.table-header,
.table-row-group {
    display: table-row-group;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
}

.table-header .table-cell{
    font-weight: 600;
}

.zs-table-cell{
	border-bottom:1px solid $border-color;
	padding:1em;
	vertical-align: top;
	max-width:400px;
}

.zs-table-header-cell{
	border-top:1px solid $border-color;
	background:#F6F6F6;
	font-weight: 500;
	color:#999;
	font-size:.9em;
	padding:0;
	button{
		padding:1em;
		text-align: left;
		width:100%;
		@include button-reset();
		&:hover{
			cursor: default;
		}
		span:empty:before{
			content:"\00a0";
		}
	}
	&.column-sort-supported{
		button{
			position: relative;
			&:hover{
				background: rgba(0,0,0,0.05);
				cursor: pointer;
			}
			zs-icon{
				position: absolute;
			}
		}
	}
	&.column-sort-active{
		button{
			color:#000;
		}
	}
	zs-icon[icon-type=""] {
		display: none;
	}
}

.zs-table a:not(.no-underlines) {
	text-decoration: underline;
}

.zs-table-empty{
	border:none;
	color:#aaa;
    z-index: 2;
    padding: 1rem;
}

a.zs-table-row:hover{
	cursor: pointer;
	background: $very-light-blue;
}

// urgentie

.urgentie_high,
.urgentie_medium,
.urgentie_low{
    padding:0 4px;
    font-weight: 500;
    color:#fff;
    border-radius:8px;
    min-width:26px;
    line-height: 18px;
    display: inline-block;
    text-align: center; 
    font-size: .85em;
    box-sizing:border-box;
}

.urgentie_high{
    background:$red;
}

.urgentie_medium{
    background:$orange;
}

.urgentie_low{
    background:darken($accent-color,10%);
}

// progress bar

$progress-bar-height:10px;

zs-progress-bar{
	height:21px;
	line-height: 21px;
	display: flex;
	align-items:center;
	min-width:40px;
}

.progress{
	flex:1;
}

.progress .progress-bar {
    height: $progress-bar-height;
    border-radius:8px;
    background: darken($background-color,3%); 
}
 
.progress .progress-value {
    background: $accent-color;
    width: 0;
    height: $progress-bar-height;
    position: relative;
    border-radius:8px;
}
 
.progress .perc {
    display: none;
}
