@import '../../../shared/styles/_variables.scss';

case-document-view {
	display: block;
	position: absolute;
	height: 100%;
	overflow-y: auto;
	width: 100%;

	.case-document-view__body{
		padding: 65px 30px 30px 30px;
		margin-left: auto;
		margin-right: auto;
		max-width: 925px;

		h2{
			font-size: 19px;
			font-weight: 500;
			margin-bottom: 30px;
			line-height: 1.2em;
		}
	}

	.case-document-view__button-container{
		text-align: center;
		padding: 10px;
	}
}

.case-document-view__header {
	position: fixed;
	width: 100%;
	padding: 10px;
	background: rgb(232,230,231);
	z-index: 10;
	color: #000;
	display: flex;	
	align-items: center;
	flex-flow: column;
	flex: 0 1 auto;

	&.case-document-view__header--modal{
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
		background: rgb(240,240,240);
		color: #000;
	}

	.case-document-view__header-container {
		display: flex;
		position: relative;
		z-index: 1;
		width: 100%;
		flex-flow: row nowrap;
		max-width: 925px;
		padding-left: 20px;
		padding-right: 20px;
		align-items: center;
	}

	.case-document-view__header-button {
		background: none;
		border: 0;
		font-size: 1.6em;
		width:36px;
		height:36px;
		line-height: 36px;
		border-radius:100%;
		display: flex;
		padding: 0 5px;
		margin-right: 5px;

		&:hover {
			background:rgba(255,255,255,.15);
		}

	}

	.case-document-view__header-title {
		font-size: 18px;
		align-items:center;
		word-wrap: initial;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		margin-top: -2px;
	}

}

@media #{$large-only}{
	.case-document-view__list{
		max-width:60rem;
	}
}

@media #{$medium-and-down}{
	.case-document-view__header .case-document-view__header-container {
		padding-left: 0px;
		padding-right: 0px;
	}
}
