<div class="case-document-view__header">

	<div class="case-document-view__header-container">

		<button class="case-document-view__header-button" ng-click="caseDocumentView.goBack()">
			<zs-icon icon-type="arrow-left"></zs-icon>
		</button>
		<div class="case-document-view__header-title">
			{{caseDocumentView.getTitle()}}
		</div>
		
	</div>
	
</div>

<div 
	class="case-document-view__body"
	ng-switch="caseDocumentView.getMode()"
>

	<div ng-switch-when="open">

		<p>Klik op de Document Invoegen knop om de inhoud van dit document in te laden.</p>
		<p><strong>Let op: De inhoud van uw huidige document wordt overschreven.</strong></p>

		<div class="case-document-view__button-container">
			<button
				class="btn btn-secondary"
				ng-click="caseDocumentView.insertIntoDocument()"
			>
				Document invoegen
			</button>
		</div>


	</div>

	<div ng-switch-when="edit">

		<h2>U bewerkt het document "{{caseDocumentView.getTitle()}}"</h2>

		<div class="case-document-view__button-container">

			<button 
				class="btn btn-secondary"
				ng-click="caseDocumentView.handleSaveClick()"
			>
				Opslaan als nieuwe versie
			</button>

		</div>

	</div>

	
</div>
