.start_zaak_box{
    font-size: 16px;
    line-height: 1.5;
    background: #444445 url(/images/icon-info-wit.png) no-repeat 23px center;
    color: #fff;
    display: block;
    border-radius: 3px;
    margin-top:15px;
    a{
        color: #fff;
        font-weight: bold;
        &:hover{
            text-decoration: underline;
        }
    }
}

.start_zaak_box_content{
    border-left: 2px solid #fff;
    margin-left: 60px;
    background: #555;
    padding: 15px 20px;
    border-radius: 0 3px 3px 0;
}