<ul class="contextual-setting-list">
	<li class="contextual-setting" ng-show="!vm.getOptions().length">
		Geen acties beschikbaar
	</li>
	<li
		class="contextual-setting"
		ng-repeat="option in vm.getOptions()"
		ng-switch="option.type" 
		ng-class="option.classes"
	>
		<button
			ng-click="option.click()"
			class="contextual-setting-button"
			ng-switch-when="button"
		>
			<zs-icon icon-type="{{::option.icon}}" ng-show="option.icon"></zs-icon>
			{{::option.label}}
		</button>
		<a
			ng-href="{{::option.link}}"
			class="contextual-setting-button"
			ng-switch-when="link"
		>
			<zs-icon icon-type="{{::option.icon}}" ng-show="option.icon"></zs-icon>
			{{::option.label}}
		</a>
	</li>
</ul>
