<div class="notification-list-header">
	Notificaties
</div>

<div class="notifications">

	<ul class="notification-list">

		<li
			class="notification-list-item"
			ng-class="::notification.classes"
			ng-repeat="notification in vm.getNotifications() track by notification.id"
		>	
			<div class="notification-list-item-icon">
				<zs-icon icon-type="{{::notification.icon}}" class="notification-list-item-icon"></zs-icon>
			</div>
			<div class="notification-list-item-content">
				<div class="notification-list-item-title">
					<a class="notification-list-item-link" ng-if="::notification.link" ng-href="{{::notification.link.href}}" ng-click="vm.onNavigate()">{{::notification.link.label}}:</a><span class="notification-list-item-label">{{::notification.title}}</span>
				</div>
				<div class="notification-list-item-message" ng-if="notification.message">
					<div class="notification-list-item-message-sender">
						<zs-icon class="notification-list-item-message-sender-icon" icon-type="account">
						</zs-icon>
						{{::notification.message.sender}}:
					</div>
					<div class="notification-list-item-message-content" zs-truncate="{{::notification.message.content}}" zs-truncate-length="100">
					</div>
				</div>
				<div class="notification-list-item-meta">
					<div class="notification-list-item-date">{{::notification.timestamp}}</div>
				</div>
			</div>
		</li>

	</ul>

	<div class="notification-read-more">

		<button
			class="btn btn-secondary"
			ng-click="vm.onReadMore()"
			ng-show="!vm.isLoading()"
		>
			Meer notificaties
		</button>

		<zs-spinner
			class="spinner-small"
			is-loading="vm.isLoading()"
			ng-show="vm.isLoading()"
		>
		</zs-spinner>


	</div>

</div>
