<form ng-submit="vm.handleSubmit()">

	<vorm-fieldset
		data-fields="vm.getFields()"
		data-values="vm.getValues()"
		on-change="vm.handleChange($name, $value)"
		data-compiler="vm.getCompiler()"
	>
	</vorm-fieldset>

	<div class="form-actions">

		<button
			class="btn btn-flat"
			ng-repeat="action in vm.getActions()"
			type="{{::action.type||'button'}}"
			ng-click="vm.handleClick(action)"
			ng-class="action.classes"
		>
			{{::action.label}}
		</button>
	</div>

</div>
