[% BLOCK block_categorie %]
    [% WHILE (categorie = bib_cat.next) %]
        <option
            value="[% categorie.id %]"
            class="[% (invoertype.value.multiple ? ' has_options' : '') %][% (invoertype.key == 'file' ? ' file' : '') %]"
            [% (categorie_id == categorie.id) ? ' selected' : '' %]
        >[% '-' | repeat(CAT_STR_DEPTH) %] [% categorie.naam %]</option>
        [% IF categorie.scalar.bibliotheek_categories.count %]
        [% SET CAT_STR_DEPTH = CAT_STR_DEPTH + 1 %]
            [% inner_cat = categorie.scalar.bibliotheek_categories %]
            [% save_categorie = bib_cat %]
            [% INCLUDE block_categorie
                bib_cat = inner_cat
                CAT_STR_DEPTH = CAT_STR_DEPTH
            %]
            [% categorie = save_categorie %]
            [% SET CAT_STR_DEPTH = CAT_STR_DEPTH - 1 %]
        [% END %]
    [% END %]
[% END %]

[% BLOCK sjablonen %]

[% END %]

[% nowrapper = 1 %]
<div id="sjabloon_definitie" class="zsaction-container">
    <form action="[%
        formaction || c.uri_for(
            '/beheer/bibliotheek/sjablonen/skip/' _ bib_id _ '/bewerken'
        )
    %]" method="POST"[% (c.req.params.row_id ? '' : ' class="zvalidate"') %] enctype="multipart/form-data">

    <input type="hidden" name="id" value="[% bib_id %]" />
    <input type="hidden" name="update" value="1" />
    <input type="hidden" name="uniquehidden" value="[% c.req.params.hidden_name %]" />
    <input type="hidden" name="row_id" value="[% c.req.params.row_id %]" />
    <div>
        <table class="form">
            <tbody>
                <tr>
                    <td class="td220">Naam [% c.loc(bib_type _ '1') %]</td>
                    <td class="td260">
                        <input type="text" name="naam" value="[% bib_entry.naam %]" class="input_large ezra_sjabloon_naam">
                    </td>
                    <td>
                        <div class="validator rounded">
                            <div class="validate-tip"></div>
                            <div class="validate-content rounded-right">
                                <span></span>
                                Deze naam bestaat al in een andere categorie.
                            </div>
                        </div>
                        <div class="tooltip-test-wrap">
                            <div class="tooltip-test rounded">
                                Typ hier de naam van het sjabloon</div>
                            <div class="tooltip-test-tip"></div>
                        </div>
                    </td>
                </tr>

                [%- engines = c.stash.external_template_engines;
                    IF engines.keys.size > 0 %]

                <tr>
                    <td>Type sjabloon</td>
                    <td>
                        <select name="interface_id" class="select350
                            zsaction
                            zsaction-when-0-show-zaaksysteem
                            zsaction-when-0-hide-external
                            zsaction-whennot-0-hide-zaaksysteem
                            zsaction-whennot-0-show-external
                        ">
                            <option value="0"
                              [% IF bib_id %]disabled[% END %]
                              [% IF !bib_entry.interface_id.id %]selected="selected"[% END %]>Zaaksysteem</option>
                            [%- FOREACH key = engines.keys;
                              if_id = engines.$key.id %]
                            <option value="[% if_id %]"
                            [%- IF bib_entry.interface_id.id == if_id %]selected="selected"[% END %]
                            [%- IF bib_id %]disabled[%- END %]
                            >[% key %]</option>
                            [%- END %]
                        </select>
                    </td>
                    <td>
                        <div class="tooltip-test-wrap">
                            <div class="tooltip-test rounded">
                                Selecteer hier de juiste template engine</div>
                            <div class="tooltip-test-tip"></div>
                        </div>
                    </td>
                </tr>
                <tr class="zsaction-dest-external">
                    <td>Vul de UUID van het sjabloon in: </td>
                    <td>
                      <input type="text" name="template_uuid" value="[% bib_entry.template_uuid %]" class="input_large ezra_sjabloon_uuid">
                    </td>
                </tr>

                [%- END %]

                <tr class="zsaction-dest-zaaksysteem">
                    <td>
                        Mogelijke bestandsformaten:
                    </td>
                    <td>odf</td>
                    <td>
                        <div class="tooltip-test-wrap">
                            <div class="tooltip-test rounded">
                                De mogelijke bestandsformaten</div>
                            <div class="tooltip-test-tip"></div>
                        </div>
                    </td>
                </tr>

                <tr class="zsaction-dest-zaaksysteem">
                    <td>Selecteer een sjabloon: </td>
                    <td><input type="file" name="filename" /></td>
                    <td>
                        <div class="validator rounded">
                            <div class="validate-tip"></div>
                            <div class="validate-content rounded-right">
                                <span></span>
                                Er is geen document geselecteerd.
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>Categorie (verplaatsen)</td>
                    <td>
                        <select name="bibliotheek_categorie_id" class="select350">
                            [%
                                INCLUDE block_categorie
                                CAT_STR_DEPTH = 1
                            %]
                        </select>
                    </td>
                    <td>
                        <div class="tooltip-test-wrap">
                            <div class="tooltip-test rounded">
                                Selecteer hier de juiste categorie</div>
                            <div class="tooltip-test-tip"></div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>Toelichting</td>
                    <td>
                        <textarea cols="60" rows="10" name="kenmerk_help">[% bib_entry.kenmerk_help %]</textarea>
                    </td>
                    <td>
                        <div class="tooltip-test-wrap">
                            <div class="tooltip-test rounded">
                                Extra informatie over de inhoud van dit
                                sjabloon</div>
                            <div class="tooltip-test-tip"></div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>Opmerking</td>
                    <td>
                        <input type="text" name="commit_message" value="[% bib_entry ? 'Wijziging ' : 'Nieuw aangemaakt ' %]" class="input_large ezra_sjabloon_naam">
                    </td>
                    <td>
                        <div class="validator rounded">
                            <div class="validate-tip"></div>
                            <div class="validate-content rounded-right">
                                <span></span>
                                Opmerking is verplicht ivm. NEN-2082 norm.
                            </div>
                        </div>
                        <div class="tooltip-test-wrap">
                            <div class="tooltip-test rounded">
                            Korte omschrijving van de reden van aanmaak/wijziging
                            </div>
                            <div class="tooltip-test-tip"></div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="form-actions">
    <input type="submit" value="Opslaan" class="button button-primary">
    </div>
    </form>
</div>
