<div class="block">
<p class="header">Geannuleerd</p>
<div class="blockcontent">
<p>U heeft het aanmaken van een zaak succesvol geannuleerd. Klik op "Nieuwe
Zaak" om een nieuwe zaak aan te maken.</p>
</div>
