[% USE Scalar %]
[% USE Dumper %]


[% UNLESS mintloader_upload_destination %]
    [% # mintloaders in this scope will upload their files here %]
    [% mintloader_upload_destination = '/zaak/' _ zaak.id %]
[% END %]

[% BLOCK group_header %]
    <div class="kenmerk-groep clearfix" data-zs-case-webform-field-group data-field-group-id="[% kenmerk.id %]" data-ng-show="caseWebformFieldGroup.isVisible()">
        <div class="kenmerk-groep-titel">
            <h4 class="kenmerk-titel">[% kenmerk.label %]</h4>
            [% IF kenmerk.help %]
                <span class="kenmerk-beschrijving">[% kenmerk.help %]</span>
            [% END %]
        </div>
    </div>
[% END %]


<div class="ezra_webform_inner_content">

[%
zaaktype_kenmerken = zaak.zaaktype_node_id.zaaktype_kenmerken;
kenmerken = zaaktype_kenmerken.scalar.search_fase_kenmerken(requested_fase);
values = zaak.scalar.field_values(fase => requested_fase.status);

pip_update_field_tasks = zaaktype_kenmerken.scalar.search_update_field_tasks({
    case  => zaak,
    phase_id => requested_fase.id
});
%]

[% BLOCK debug_output %]
    <pre>Values:[% Dumper.dump(values) %]
    regels: [% Dumper.dump(regels_result) %]</pre>
[% END %]
[% #PROCESS debug_output %]

[%
# visibility is determined on the template level, so we run the template and then see
# if any fields were displayed. sad but true :/
visible_fields_count = 0;

WHILE (kenmerk = kenmerken.next) ;
    IF kenmerk.is_group;
        kenmerk_last_group_id = kenmerk.id;
        IF !pip || ( pip && kenmerk.pip ) ;
            IF pip && rule_result.hidden_groups.grep('^' _ kenmerk.id _ '$').size;
                NEXT;
            ELSE;
                PROCESS group_header;
            END;
        END;
        NEXT;
    ELSIF (pip && !kenmerk.pip) || kenmerk.is_systeemkenmerk;
        NEXT;
    END;

    attribute_name = "attribute." _ kenmerk.bibliotheek_kenmerken_id.magic_string;

    bibliotheek_id = kenmerk.bibliotheek_kenmerken_id.id;

    # Don't show if:
    # - case has a parent, and the field is referential, and the field is invisible in the parent
    # Move to model layer?
    # NEXT IF regels_result.verberg_kenmerk.$bibliotheek_id

    NEXT IF (zaak.pid && kenmerk.referential && !parent_visible_fields.$bibliotheek_id);

    IF from_pip;
        status_number = requested_fase.status;
        phase_active_attributes = rule_result.active_attributes_per_status.$status_number;

        NEXT IF (phase_active_attributes && !phase_active_attributes.grep(attribute_name).size);
    END;

    PROCESS zaak/field.tt;
    visible_fields_count = visible_fields_count + 1;
END;
%]


<div class="form-kenmerk-status">
    [% IF c.can_change %]
    <div class="form-kenmerk-status-controls" data-ng-show="caseWebform.hasVisibleFields()">
        [% IF registration_phase_unlocked %]
            <button class="ezra_lock_registration_phase button button-small button-secondary button-unlock-registration-phase">
                Vergrendel registratiefase
            </button>
        [% END %]
        [% IF registration_phase_locked %]
            <button type="button" class="ezra_unlock_registration_phase button button-small button-secondary button-unlock-registration-phase" data-ng-controller="nl.mintlab.core.IsolationController" data-zs-confirm="reloadLegacyForm.reloadLegacyForm()" data-zs-confirm-label="Weet u zeker dat u deze fase wilt ontgrendelen? Dit kan juridische risico's opleveren." data-zs-confirm-verb="Ontgrendelen" data-zs-reload-legacy-form data-zs-reload-legacy-form-params="{'specialAction': 'unlock_registration_phase=1'}">
                Ontgrendel registratiefase
            </button>
        [% END %]
    </div>
    [% END %]

    <div class="form-kenmerk-status-empty kenmerk-empty" data-ng-show="!caseWebform.hasVisibleFields()">
        Geen kenmerken in deze fase.
    </div>

</div>

[% IF !pip && requested_fase.id == zaak.afhandel_fase.id %]
    [% PROCESS widgets/zaak/zaak_result.tt %]
[% END %]

</div>
