<div class="widget widget-create-list">

	<div class="list-title">Kies een type widget</div>
	<ul class="list list-select">
		<li ng-repeat="item in zsDashboardWidgetCreate.getWidgetTypes() track by item.value" class="list-item">
			<button ng-click="zsDashboardWidgetCreate.selectType(item)" class="list-item-button">
				<zs-icon icon-type="{{item.iconClass}}"></zs-icon>
				{{item.label}}
			</button>
		</li>
	</ul>
</div>

