<span class="title">
	Bezoek link
</span>
<a class="url ql-preview" target="_blank" href="about:blank"></a>
<input class="ql-input" type="text"/>
<span>&nbsp;&#45;&nbsp;</span>
<a class="ql-action">
	<i class="mdi"></i>
	<span class="ql-action-label"></span>
</a>
<a class="ql-remove">
	<i class="mdi mdi-delete"></i>
	Verwijder
</a>
