<h2>Zaakrelaties</h2>

    <div class="disabled_deelzaken">
        <h3 class="title">Hoofd- en deelzaken</h3>
         <table class="table_zaken_title relations-block table-closed" border="0" id="hoofddeelzaken_table" cellspacing="0">
            <thead>
                <tr>
                    <th>Niveau</th>
                    <th>Nr</th>
                    <th>Voortgang</th>
                    <th>Zaaktype</th>
                    <th>Extra informatie</th>
                    <th>Behandelaar</th>
                    <th>Resultaat</th>
                    <th class="td_i" class="center"></th>
                </tr>
            </thead>
            <tbody>
                [% prevnode = 1 %]
                [% parenthtml = 'A' %]
                [% childhtml = 'B' %]
                [% startzaak = zaak %]

                [% IF startzaak.pid && !startzaak.pid.deleted %]
                    [% startzaak = startzaak.pid %]
                [% END %]

                [% global.nodecount = 0 %]

                [% INCLUDE zaak/elements/relation/child.tt
                    prevnode  = 0
                    startzaak = startzaak
                    niveau    = 1
                %]
            </tbody>
        </table>
    
        [% BLOCK block_vervolgzaak %]
        <tr class="select-row">
            <td class="table_zaken_td60">
                <a href="[% c.uri_for('/zaak/' _ relatie.id) %]">[% relatie.nr %]</a>
            </td>

            <td class="table_zaken_td100">
                <a href="[% c.uri_for('/zaak/' _ otherzaak.nr) %]">
                    [% relatie.milestone %] van [% relatie.afhandel_fase.status %]
                </a>
            </td>

            <td class="table_zaken_tdvar">
                <a href="[% (pip ? '/pip' : '') %]/zaak/[% relatie.nr %]/zaaktypeinfo" class="ezra_dialog" title="Informatie over dit zaaktype" rel="zaak: [% relatie.id %]">[% relatie.zaaktype_node_id.titel %]</a>
                </td>
            
            <td class="table_zaken_td100">[% relatie.registratiedatum.dmy %]</td>

            <td class="table_zaken_td50 td_i td_i_img">
                <a href="[% c.uri_for('/zaak/get_meta/' _ relatie.nr) %]" class="ezra_dialog icon icon-toelichting icon-hover right" title="Informatie over zaak"></a>
            </td>
        </tr>
        [% END %]
    
        [% BLOCK block_relatie %]
        <tr class="select-row">
            <td class="table_zaken_td60">
                <a href="[% c.uri_for('/zaak/' _ relatie.id) %]">
                    [% relatie.nr %]
                </a>
            </td>

            <td class="table_zaken_td100">
                [% relatie.milestone %] van [% relatie.afhandel_fase.status %]
            </td>

            <td class="table_zaken_tdvar">
                [% relatie.zaaktype_node_id.titel %]
            </td>

            <td class="table_zaken_td150">
                <a href="[% c.uri_for('/betrokkene/get/' _ relatie.coordinator.id) %]" class="ezra_dialog" title="Informatie over de co&ouml;dinator">
                    [% relatie.coordinator.naam %]
                </a> 
            </td>

            <td class="table_zaken_td150">
                <a href="[% c.uri_for('/betrokkene/get/' _ relatie.behandelaar.id) %]" class="ezra_dialog" title="Informatie over de behandelaar">
                    [% relatie.behandelaar.naam %]
                </a> 
            </td>

            <td>
                [% meta = c.model('DB::ZaakMeta').search(zaak_id => relation_origin == 'remote' ? relatie.id : zaak.id).first %]
                [% IF meta %]
                    [% meta.gerelateerd %]
                [% END %]
            </td>

            <td class="table_zaken_td50 td_i td_i_img">
                <a href="[% c.uri_for('/zaak/get_meta/' _ relatie.nr) %]" class="ezra_dialog icon icon-toelichting icon-hover right" title="Informatie over zaak"></a>
                <a href="[% c.uri_for('/zaak/' _ zaak.id _ '/unrelate/' _ relatie.nr) %]" class="icon icon-del" title="Verwijder deze relatie"></a>
            </td>
        </tr>
        [% END %]
        
        <div id="zaak-elements-deelzaken-relations" cellspacing="0" data-ng-controller="nl.mintlab.case.CaseRelationController" data-ng-include="'/html/case/relations/relations.html'" data-ng-init="caseId=[% zaak.id %];initRelations();">
        </div>
    </div>

