<div class="kenmerk-veld row">

	<div class="column large-4">
        <div class="field-label field-has-help">
            <div class="field-help">
                [% PROCESS widgets/general/dropdown.tt
                    icon = 'icon-question-sign',
                    icon_type = 'icon-font-awesome',
                    dropdown_content = 'Dit is het scheidingsteken waarmee de gebruiker
                        van de bestandsnaam onderscheiden wordt. In het
                        geval van "marco-test.jpg" kan de gebruiker
                        'marco' onderscheiden worden wanneer het
                        scheidingsteken op '-' ingesteld is.'
                %]
            </div>
		  <label>File username seperator</label>
        </div>
	</div>
	<div class="column large-8">
		<div class="field">
			<input type="text" name="[% parameter %]" value="[% value %]" />
		</div>
	</div>

</div>
