.object-view{
	.block{
		
		@include box-sizing(border-box);
		
	}
}

.object-field-label{
	font-weight: 600;
}

.row .column.object-field-label{
	padding-left:0;
}

.object-field-value{
	ol,ul{
		margin-left:20px;
	}
} 

button.object-field-value-content{
	text-decoration: underline;
	color:$anchor-color;
	&:hover{
		color:$anchor-hover-color;
	}
}

.object-view-header-type {
	display: inline-block;
	vertical-align: middle;
	color: #333;
	margin-left: 5px;
}

.object-view-header-label{
	display: inline-block;
	vertical-align: middle;
	font-weight: 600;
}

.object-view-header-icon{
	vertical-align: middle;
	font-size:1.4em;
}

.object-view-sidebar {
	width: 30%;
	position: absolute;
	right:30px;
	top:75px;
	border:1px solid #bbb;
	@include box-sizing(border-box);
	background: #fff;
	margin-bottom:25px;
	.block{
		padding:0 0 15px;
		margin-bottom:0px;
		&:last-child{
			border-bottom:none;
		}
	}
	.block-header{
		padding:5px 0 25px;
		h3{
			margin:0;
			font-size:1.45em;
		}
	}
}

.object-view-sidebar-innerscroll{
	padding:20px 25px 0 25px;
}



.object-view-sidebar > .block-sidebar {
	width: 100%;
	float: none;
}

.object-view-relation-type-list{
	list-style: none;
}

.object-view-relation-type-list-item,
.object-view-action-block{
	margin-bottom:30px;
	.spot-enlighter-wrapper input[type=text],.object-view-relation-list-add{
		width:100%;
	}
}

.object-view-relation-type-list-item-header,
.object-view-action-block-header{
	font-weight: 600;
	margin:0 0 10px;
	color:#333;
	font-size:1.1em;
}

.object-view-relations-header{
	i{
		vertical-align: initial;
		margin-right:3px;
	}
}

.object-view-relation-list{
	list-style: none;
	padding-bottom:15px;
	+ .show-more{
		border:none;
		margin-top:-10px;
		margin-bottom:10px;
	}
}


.object-view-relation-list-item{
	line-height: 1.7em;
	padding:10px 0;
	border-bottom:1px solid #ddd;
	position:relative;
	padding-right:26px;
	&:first-child{
		border-top:1px solid #ddd;
	}
	.form-field-spot-enlighter-list-item-options{
		visibility: visible;
	}
}

.object-view-relation-remove-disabled{
    &.icon-remove,&.icon-remove:hover{
        color: #eee;
        position: absolute;
        right:0;
        top:50%;
        margin-top:-8px;
        height:auto;
    }
}

.object-view-relation-list-item-label{
	display: inline;
}

.object-view-relation-list-item-icon{
	display: inline-block;
}

.mdi{

	&.object-view-relation-list-item-icon{
		font-size:1.5em;
	    margin-right:6px;
	    &:before{
	    	content: mdi('hexagon');
	    	color:$icon-light-blue;
	    }
	}

	&.object-view-relation-list-item-icon-type-casetype:before{
	    content: mdi('cube');
	    color:$icon-green;
	}

	&.object-view-relation-list-item-icon-type-product:before,
	&.object-view-type-product .object-view-header-icon:before{
	    content: mdi('shopping');
	    color:$icon-dark-blue;
	}

	&.object-view-relation-list-item-icon-type-vraag:before,
	&.object-view-type-faq .object-view-header-icon:before{
	    content: mdi('help-circle');
	    color:$icon-red;
	}

	&.object-view-relation-list-item-icon-type-case:before{
		content: mdi('folder-outline');
	    color:$icon-blue;
	}

	&.object-view-relation-list-item-icon-type-scheduled_job:before{
		content: mdi('calendar-clock');
		color:$icon-light-blue;
	}

}


.object-view-relation-list-empty {
	margin-bottom: 5px;
}

.object-view-action-list{
	margin:10px 0 15px;
}

.object-view-action{
	position: relative;
	padding:0 0 2px;
}

@media screen and (max-width: 1310px) {

	.object-view{
		.timeline-content{
		    padding-top:40px !important;
		}

		.timeline-filter{
		    float:none;
		    width:100%;
		    position: absolute;
		    top:40px;
		    left:18px;
		    .timeline-options{
		    vertical-align: middle;
		    display: inline-block;
		    margin:0;
		        li{
		            display: inline-block;
		            float:left;
		            margin:0 12px 0 0;
		        }
		    }
		}

		.timeline-filter-title{
		    display: none;
		    margin:0;
		}
		.line-gradient{
			top:40px;
		}
	}

}

.object-view .timeline-content,
.object-view .timeline-inner {
	width: 640px !important;
}

.object-view .timeline-item {
	width: 611px;
}

.object-view-content,
.object-view-header-label{
	margin-right:33%;
}

.object-view-content.tab-content-type-timeline{
	padding:0;
}

.object-view-action-list{
	list-style: none;
}

.object-view-action{
	line-height: 1.7em;
	padding:10px 0;
	border-bottom:1px solid #ddd;
	&:first-child{
		border-top:1px solid #ddd;
	}
}

.object-view-action-options {
	display: inline-block;
	margin-left: 5px;
}

.object-view-header{
	.object-view-header-icon{
		color:#999;
		font-size: 1.1em;
		margin-right: 3px;
		vertical-align: middle;
	}
	.object-view-header-title{
		vertical-align: middle;
	}
}

.tab-content-type-location .ezra_map-viewport{
	height:420px !important;
}
