<div class="pagination">
	<div class="pagination-amount">
		<label>Per pagina: </label>
		<select
			ng-model="zsPagination.displayedLimit"
			ng-options="limit for limit in zsPagination.getLimitOptions()"
			ng-change="zsPagination.handleLimitChange()"
		>
		</select>
	</div>

	<div class="pagination-buttons">
		<button type="button" class="pagination-button-prev pagination-button btn btn-secondary btn-round btn-small" 
			ng-disabled="!zsPagination.hasPrevPage()" 
			ng-click="zsPagination.next()"
		>
			<zs-icon icon-type="chevron-left"></zs-icon>
		</button>

		<span class="pagination-page" ng-show="!zsPagination.isLoading()">{{zsPagination.currentPage()}}</span>
		
		<zs-spinner class="spinner-small pagination-spinner" is-loading="zsPagination.isLoading()">
		</zs-spinner>

		<button type="button" class="pagination-button-next pagination-button btn btn-secondary btn-round btn-small" 
			ng-disabled="!zsPagination.hasNextPage()" 
			ng-click="zsPagination.prev()"
		>
			<zs-icon icon-type="chevron-right"></zs-icon>
		</button>
	</div>
</div>
