<form ng-submit="vm.handleSubmit()">

	<vorm-fieldset
		data-fields="vm.getFields()"
		data-valid="vm.getValidity()"
		data-values="vm.getValues()"
		data-locals="vm.getLocals()"
		on-change="vm.handleChange($name, $value)"
	>
	</vorm-fieldset>

	<button
		type="button"
		class="{ active: vm.isExpanded() } btn-show-more"
		ng-show="vm.canExpand()"
		ng-click="vm.handleExpandClick()"
	>
		{{vm.getExpandLabel()}}
	</button>

	<div class="form-actions">

		<button class="btn btn-flat" type="submit" ng-click="vm.handleSaveClick()" ng-disabled="!vm.canSave()">
			Opslaan
		</button>

		<button class="btn btn-flat" type="click" ng-click="vm.handleExecuteClick()" ng-disabled="!vm.canExecute()">
			{{vm.getVerb()}}
		</button>

	</div>

</form>

