[% USE Dumper %]



[% BLOCK description_icon %]
    [% dropdown_content = BLOCK %]
        [% description %]
    [% END %]
    [% PROCESS widgets/general/dropdown.tt
        icon = 'icon-toelichting',
        icon_type = 'icon-graphic',
        content_overflow = 'dropdown-content-overflow',
        dropdown_content = dropdown_content
    %]
[% END %]


[% BLOCK row %]
    <tr>
        <td><nobr>[% result.created.strftime('%d-%m-%Y %H:%M') %]</nobr></td>
        <td>[% result.onderwerp %]</td>
        <td>[% IF result.component == 'zaak' %]
                [% result.component %] [% result.zaakid %]
            [% ELSE %]
                [% result.component | ucfirst %]
            [% END %]
        </td>
        <td class="table_zaken_td200">[% c.model('Betrokkene').get({ intern => 0 }, result.betrokkene_id).naam  %]</td>
    </tr>
[% END %]


[%  display_fields = [ {
        class => 'datum',
        fieldname => 'created',
        label => 'Datum',
        sortable => 1,
    },{
        class => 'onderwerp',
        fieldname => 'onderwerp',
        label => 'Gebeurtenis',
    },{
        class => 'component',
        fieldname => 'component',
        label => 'Component',
        sortable => 1,
    },{
        class => 'behandelaar',
        fieldname => 'created_by',
        label => 'Behandelaar',
        sortable => 0,
    }
    ]            
%]

[% component_labels = {
    zaak => 'Zaken',
    bibliotheek_categorie => 'Bibliotheek categorieen',
    sjabloon => 'Zaaksjablonen',
    notitie => 'Zaaknotities',
    betrokkene => 'Zaakbetrokkenen',
    kenmerk => 'Zaakkenmerken',
    document => 'Zaakdocumenten',
    checklist => 'Zaakchecklist',
    zaaktype => 'Zaaktypen',
    zaak_documents_queue => 'Wachtrij',
    kennisbank_vragen => 'Vragen',
    kennisbank_producten => 'Producten',    
    status => 'Statussen',
    documents => 'Zaakdocumenten (documents)',
    actie => 'Acties',
    
} 

%]
<form name="logging_list">
<div class="block">
    <div class="block-header clearfix">
        <div class="block-header-title">Wijzigingen binnen het zaaksysteem</div>
        
        <a href="#" class="ezra_logging_csv_export button button-secondary">CSV export</a>
        
        [% PROCESS widgets/general/zaken_filter.tt 
                result_type = 'logging'
        %]
    </div>
    <div class="blockcontent">
    <div class="zaken_filter_wrapper">
    <div class="zaken_filter_inner">
        [% PROCESS widgets/result.tt 
            result_type = 'logging'
        %]
        [% PROCESS widgets/pager2.tt %]
        </div>
        </div>
    </div>
</div>
</form>
