.wordaddin-case-search-header{
	padding: 15px 30px;
	background: #006B98;
	text-align: center;

	img{
		max-width: 100%;
		max-height: 100px;
	}

	h1{
		font-size: 17px;
		color: #fff;
		font-weight: normal;
		margin: 0;
		padding: 0;
	}
}

.wordaddin-case-search-content{
	padding: 10px 30px;

	h2{
		font-size: 19px;
		font-weight: 400;
	}
}
