.list{
	margin-bottom:12px;	
}

.list-title{
	color:#9E9E9E;
	font-weight: 500;
	font-size:.9rem;
	padding:9px 20px;
	display: block;
}

.list-item{
	display: flex;
	align-items: center;
	padding:.8rem 0;
	border-bottom:1px solid $border-color;
	&:hover .list-item-actions{
		//opacity: .3;
	}
}

.list-item-block{
	border-bottom:none;
	background:#f8f8f8;
	border-radius: $border-radius;
	box-shadow:0 1px 3px rgba(0,0,0,0.3);
	padding:.8rem 1rem;
	margin-bottom:.5rem;
}

.list-item-empty{
	color:#ccc;
}

// list in which whole rows act as a clickable item

.list-select{
	.list-item{
		padding:0;
		border:none;
		.list-item-button{
			display: flex;
			flex-grow:1;
			min-width: 100%;
			padding:6px 20px;
			border-radius:2px;
			text-align: left;
			@include button-reset();
			&:hover{
				background:#f6f6f6;
				cursor:pointer;
			}
			i{
				font-size:1.5rem;
				margin-right:10px;
				color:$icon-grey;
			}
		}
	}
	.list-item-empty{
		padding:0 20px;
	}
}

.list-item-drag{
	display: flex;
	margin-right: 10px;
	i{
		font-size:1.4em;
		color:#bbb;
		&:hover{
			color:#000;
		}
	}
	&:hover{
		cursor: move;
	}
}

.list-item-title{
	flex-grow:1;
}

a.list-item-anchor{
	flex-grow:1;
	text-decoration: underline;
}

.list-item-actions{
	
	display: flex;
	align-items: center;
	
	i{
		font-size:1.3rem;
		color:#000;
	}
	> button{
		padding:0;
	}
	> button,
	> a{
		opacity: .3;
		display: flex;
		margin-left:5px;
		zs-icon{
			display: flex;
		}
		&:hover{
			opacity: 1 !important;
		}
	}
}

.list-hide-actions{
	.list-item-actions{
		opacity: 0;
	}
	.list-item:hover{
		.list-item-actions{
			opacity: 1;
		}
	}
}

.list-item-single-action{
	display: flex;
	align-items:center;
	padding:0;
	border:none;
	background-color: transparent;
	i{
		font-size:1.1rem;
	}
}

.list-item-flex{
	display: flex;
}

.list-item-flex-text{
	flex-grow:1;
}