<div class="block clearfix import">
    <p class="header">WOZ-gegevens instellingen</p>
    <div class="blockcontent">
    	<a href="/beheer/woz/view">&lt;&lt; terug</a>
    	<br/><br/>
        [% PROCESS plugins/woz/ownerobjects.tt %]
	</div>
</div>