@import "../partials/compass/compass-opacity";
@import "../partials/compass/compass-border-radius";
@import "../partials/compass/compass-opacity";
@import "../partials/compass/compass-box-sizing";
@import "template-settings";

#container {
    width: $template-width;
    margin: 0px auto;
    background: $container-background;
    @include box-sizing($container-box-sizing);
}

.stap-titel{
	font-size:$h2-stap-titel-fontsize;
	font-weight: $h2-stap-titel-weight;
}

.pip{
	a{
		color:$anchor-color;
		text-decoration:$anchor-text-decoration;
		&:hover{
			color:$anchor-color-hover;
			text-decoration:$anchor-text-decoration-hover;
		}
	}
}

.pip-login .pip-login-block{
	@include border-radius($border-radius);
}

.pip-case-progress{
	.pip-case-progress-bar{
		background:$pip-progress-bar-bg;
	}
	.pip-case-progress-percentages{
		background:$pip-progress-bar-percentages;
	}
}

.pip-case-form-phase-title{
	@include border-radius($border-radius);
	background:$pip-phase-title-bg;
	border-color:$pip-phase-title-border;
	color:$pip-phase-title-color;
	&.pip-case-form-phase-active:hover{
		background:$pip-phase-title-bg-hover;
		border-color:$pip-phase-title-border-border;
	}
	&.pip-case-form-phase-current{
	    padding: 1.15em .8em 1.15em .7em;
	    font-size: 1.3em;
	    background:$pip-phase-title-current-bg;
	    .pip-case-form-phase-title-icon{
	        margin-right:5px;
	    }
	    &:hover{
	        background:$pip-phase-title-current-bg-hover !important;
	    }
	}
}

.form-navigation{
	padding:$form-navigation-padding;
	margin:$form-navigation-margin;
	li{
		line-height:$stap-line-height;
	}
	.stap{
		background:$stap-bg-color;
		&:after {
		    border-color: rgba(233, 242, 244, 0);
		    border-left-color:$stap-bg-color;
		}
		&:before {
		    border-color: rgba(143, 173, 182, 0);
		    border-left-color: #fff;
		}
		&.done{
		    &:after{
		        border-color: rgba(233, 242, 244, 0);
		        border-left-color: $stap-bg-color;
		    }
		}
		&.active{
		    background:$stap-active-bg-color;
		    color:$stap-active-text-color;
		    font-weight: $stap-active-anchor-font-weight;
		    &:after {
		        border-color: rgba(233, 242, 244, 0);
		        border-left-color: $stap-active-bg-color;
		    }
		    a{
		    	color:$stap-active-anchor-color;
		    	font-weight: $stap-active-anchor-font-weight;
		    }
		}
	}
}

.pip .field-help .icon-question-sign,
.field-help .icon-question-sign{
	color:$icon-question-sign-color;
	&:hover{
		color:darken($icon-question-sign-color,15%);
	}
}

.pip-case-document-icon i{
	color:$icon-pip-document-color;
}

a.button{
	text-decoration:none;
	&:hover{
		text-decoration: none;
	}
}

.button.button-id{
	border:1px solid $button-id-bg-color;
	background:$button-id-bg-color;
	color:#fff;
	font-weight: $button-id-font-weight;
	&:hover{
		background:$button-id-bg-color-hover;
		border:1px solid $button-id-bg-color-hover;
	}
	&:active{
		background:$button-id-bg-color-active;
		border:1px solid $button-id-bg-color-active;
	}
}

.pip-case-result{
    font-weight: bold;
    font-size:1.5em;
    border:2px solid $pip-case-result-color;
    padding:12px 15px;
    margin: 20px 0 -10px;
    i{
    	margin-right:10px;
    	margin-left:5px;
    	color:$pip-case-result-color;
    }
}

.saml_error{
	@include border-radius(3px);
	padding:5px 10px 5px 35px;
	background:darken(red,5%);
	color:white;
	position: relative;
	&:before{
		content: "\f071";
		font-family: 'FontAwesome';
		position: absolute;
		left:10px;
		font-size:1.2em;
	}
}

// ID Knop
    
.id-knop{
    background: #222;
    display: block;
    margin:0 0 30px;
    border-radius: 5px;
    color: white !important;
    text-decoration: none;
    text-align: center;
    font-size: 1.385em;
    font-weight: normal;
    line-height: 1;
    text-transform: none;
    height: auto;
    border: 1px solid #222222;
    padding: 21px 0 20px;
    width: 100%;
}

.id-knop:hover{
    cursor: pointer;
    background: #333;
    border-color:#333;
}

.id-knop:active{
    border: 1px solid #222222;
    position: relative;
    top: 1px;
    background: rgb(34,34,34);
}

.id-knop-groot{
    line-height: 2;
    font-size: 1.5em;
}

.id-knop.id-knop-digid img{
    vertical-align: middle;
    display: inline-block;
}