@import "../partials/dependencies";

$template-type:open;

$primary-color:#283583;
$secondary-color:#009FE3;
$tertiary-color:#DC241F;
$button-id-bg-color: #333;

$logo-url: "../../form/lingewaard/img/logo-lingewaard.png";
$logo-width:280px;
$logo-height:100px;
$logo-margin:0;
$logo-bg-size:cover;
$header-height:138px;
$header-padding:1em;
$header-bg:$primary-color;

$button-primary-bg:$secondary-color;
$button-primary-color:white;
$button-in-title-color:$secondary-color;
$button-in-title-underline:underline;
$border-radius:3px;

$anchor-color:$secondary-color;
$anchor-color-hover:$secondary-color;
$anchor-text-decoration:none;
$anchor-text-decoration-hover:underline;
$font-family: 'Open Sans', sans-serif;
$font-size:93.75%;
$template-width:100%;
$template-type-open-width:1170px;

$container-border:none;
$container-margin: 0 auto -260px !important;

$content-padding:0 0 20px;
$mobile-content-padding:0 12px 20px;

$pip-nav-background-color:transparent;
$pip-nav-border-color:$secondary-color;
$pip-nav-border-color-active:rgba(255,255,255,.5);

$pip-nav-anchor-color:rgba(255,255,255,.65);
$pip-nav-anchor-color-active:white;
$pip-nav-anchor-color-hover:white;
$pip-nav-bg-active:transparent;
$pip-nav-bg-hover:rgba(255,255,255,.1);
$pip-nav-font-size:1em;
$pip-nav-bg-hover:transparent;
$pip-nav-font-weight:400;
$toggle-pip-nav-color:#fff;
$pip-nav-border-weight:4px;

$pip-progress-bar-bg:lighten($primary-color,45%);
$pip-progress-bar-percentages:$primary-color;

$pip-phase-title-bg:$secondary-color;

$title-text-color:$primary-color;
$title-bg-color:white;
$title-font-size:1.733em;
$title-font-weight:normal;
$title-padding-top:1.5em;
$title-padding-bottom:1.75em;
$title-padding-left:12px;
$title-padding-left:12px;

$heading1-color:$primary-color;
$heading1-fontsize: 1.733em;
$heading1-weight:normal;

$heading2-color:$primary-color;
$heading2-fontsize:1.2em;
$heading2-weight:600;

$stap-active-anchor-font-weight:bold;
$stap-active-bg-color:$primary-color;

$icon-question-sign-color:$secondary-color;

@import "template-normalize";
@import "basic-template";
@import "template-defaults";
@import "button-reset";
@import "template-media-queries";

body{
	font-size: 0.9375em;
}

#container::after{
	content:'';
	height:260px;
	display: block;
}

header{
	width:100%;
	max-width:100%;
	border-bottom: solid 4px #0061ae;
	.inner{
		max-width:1170px;
		margin:0 auto;
	}
}

.pip-nav{
	margin-top:-21px;
	margin-bottom:20px;
	margin-left:-20px;
	margin-right:-20px;
	background:$primary-color;
	padding-top:20px;
	font-weight: bold;
	ul li.current a{
		border-bottom:4px solid $pip-nav-border-color-active;
		margin-bottom:-4px;
	}
}

.pip-case-form-phase-title{
	font-weight: normal;
}

.pip-login{
	padding-top:0;
}
        

@media only screen and (max-width: $breakpoint-mobile) {

	.pip-nav{
		margin-top:-17px;
		margin-left:-$mobile-content-padding;
		margin-right:-$mobile-content-padding;
		padding-top:0;
	}

	.pip-nav ul li.current a{
		border-bottom-color:$primary-color;
		background:rgba(255,255,255,.1);
	}

}


// footer

#footer {
	position: relative;
    width: 100%;
    float: left;
    height:260px;
    background: #fff;
    p {
        margin: 0 0 1em 0;
        line-height: 1.5em;
    }
}

#footer_wrapper {
    padding: 2em 0 1em;
   	margin:25px 0 0;
    color: #fff;
    background-color: #283583;
    clear: both;
    width: 100%;
    .box_1,
    .box_2,
    .box_3 {
        float: left;
        width: 30%;
    }
    .box_1,
    .box_2{
    	margin-right: 5%;
    }
    .box_3{
    	float:right;
    }
    h2,
    .koppelbox ul li.no_link {
        font-size: 1.6em;
        margin: 0 0 0.5em 0;
        color: #fff;
        font-weight: normal;
        background: none;
    }
}

#footer_functionmenu {
    padding: .35em 0;
    background-color: #fff;
}



#footer_wrapper,
#footer_functionmenu{
	.container {
	    position: relative;
	    width: 94%;
	    max-width: 1170px;
	    margin: auto;
	    overflow: hidden;
	}
}

#footer_wrapper a {
    text-decoration: underline;
    color: #FFF;
}

@media only screen and (max-width: 699px) {
	#container{
		padding:0;
		margin:0 !important;
		&:after{
			height:auto;
		}
	}
	#footer{
		height:auto;
	}
	#footer_wrapper .wysiwyg {
	    padding: 5%;
	    width: 90%;
	}
}