@import "../partials/dependencies";

$template-basic:true;

$logo-url: "../../form/mintlab/img/logo.svg";
$primary-color: #4bc39b;
$secondary-color:#f6653c;
$tertiary-color:#3b3b3b;
$button-id-bg-color: $tertiary-color;
$button-primary-color:#fff;
$anchor-color:$primary-color;
$anchor-color-hover:$primary-color;
$anchor-text-decoration:underline;
$anchor-text-decoration-hover:underline;
$font-family:open-sans, sans-serif;
$font-size:87.5%;
$template-width:100%;
$header-padding:0;
$header-height:72px;
$logo-width:110px;
$logo-height:50px;
$logo-margin:8px 0 0 20px;
$body-bg:lighten($primary-color,8%);
$heading1-weight:600;
$heading2-weight:600;
$button-primary-bg:$secondary-color;
$pip-progress-bar-bg:lighten($secondary-color,20%);
$pip-progress-bar-percentages:darken($secondary-color,5%);
$title-font-size:1.4em;
$title-padding-top:0;
$title-padding-bottom:0;
$title-font-weight:600;
$container-shadow:none;
$container-border:none;
$container-padding:0 20px;
$container-box-sizing:border-box;
$heading2-fontsize: 1.6em;
$stap-active-bg:$secondary-color;
$stap-active-bg-color:$secondary-color;
$icon-question-sign-color:$tertiary-color;
$title-bg-color:$tertiary-color;
$pip-nav-background-color:$tertiary-color;

@import "template-normalize";
@import "basic-template";
@import "template-defaults";
@import "template-closed";
@import "button-reset";

h1,h2{
	-webkit-font-smoothing: antialiased;
}

#container{
	max-width:1180px;
	padding:0;
}

.pip-nav{
	width:100%;
	z-index:100;
	ul li a{
		font-weight: 400;
		padding:1.4em;
	}
}

.stap-titel{
	margin-top:0;
}

.block-header h1.header-title,
.block-header h1{
	width: 100%;
	padding-right: 300px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.block .block-header .header-actions{
	position:absolute;
	right:1em;
}

.block-content{
	padding-top:25px;
	padding-bottom:15px;
}

.toggle-pip-nav{
	float:right;
}

@import "template-media-queries";

@media only screen and (max-width: $breakpoint-mobile) {
	.pip-nav,.block-header{
		margin-top:0;
	}
	#container{
		padding:0;
	}
	header #logo{
		top:0;
	}
	.block-header{
		margin:0 !important;
	}
}
