<ul class="sidebar-item-list check-list">

	<li
		class="sidebar-item"
		ng-repeat="item in vm.getItems() track by item.$id"
		ng-class="item.classes"
	>

		<div class="sidebar-item-label">
			<label>
				<input
					type="checkbox"
					ng-checked="item.checked"
					ng-click="vm.handleItemToggle(item, $event)"
					ng-disabled="!item.togglable"
				/>
				<span class="sidebar-item-title">{{::item.label}}</span>
			</label>
		</div>

		<div class="sidebar-item-action" ng-show="item.deletable">
			<button ng-click="vm.handleItemRemove(item)">
				<zs-icon icon-type="close"></zs-icon>
			</button>
		</div>

	</li>

	<li class="sidebar-item sidebar-item-empty checklist-empty" ng-show="!vm.getItems().length">
		Er zijn geen checklistitems voor deze fase.
	</li>

</ul>

<div class="checklist-item-add" ng-show="!vm.disabled()">
	<form ng-submit="vm.handleItemAdd(vm.newItemContent)">
		<input type="text" ng-model="vm.newItemContent" ng-required placeholder="Nieuw checklistitem toevoegen" />
	</form>
</div>	
