.timeline-item-desc-diff{}

.timeline-item-desc-diff-item{
	border-bottom:1px solid #eee;
	padding:1rem 0;
	&:last-child{
		border-bottom:none;
	}
}

.timeline-item-desc-diff-item,
.timeline-item-desc-diff-item-value{
	display: flex;
}

.timeline-item-desc-diff-item-label{
	width:30%;
	font-weight: bold;
	margin-right:2rem;
	overflow: hidden;
	text-overflow: ellipsis;
}

.timeline-item-desc-diff-item-value{
	width:70%;
}

.timeline-item-desc-diff-item-value{
	.old,
	.new{
		width:50%;
		overflow-x: hidden;
		text-overflow: ellipsis;
		word-break: break-all;
	}
	.old{
		padding-right:1.5rem;
		position: relative;
		&:after{
			position: absolute;
			right:0;
			top:5px;
			content:'\25b6';
			color:#ccc;
			font-size:.75rem;
		}
	}
	.new{
		padding-left:1.5rem;
		
	}
}

[data-event-type="case/object/create"]{
	.timeline-item-desc-diff-item-value{
		.old{
			display: none;
		}
		.new{
			width:100%;
		}
	}
}
