zs-case-timeline-view{
	flex: 1 1 auto;
	overflow-y: auto;
	min-height: 0px;
}

@import '../zsCaseDocumentView/old-autocomplete';
@import "timeline-base";
@import "timeline-item";
@import "timeline-notitie";
@import "timeline-filter";
@import "timeline-icons";
@import "timeline-mutations";