[% 
# Exactly the same as veldoptie.tt's default solution, but expects labels for each item.
# Creating a nice if structure in veldoptie.tt is a bit risky since it's used all over
# Zaaksysteem.
# A more constructive direction should be more front-end directed anyway: Send the browser a JSON object,
# write a widget to edit it, and then save the object as a whole in the backend.
%]

[% veldoptie_values = {} %]
[% FOREACH value IN veldoptie_value %]
    [% value_escaped = value | html_entity %]
    [% veldoptie_values.$value = value_escaped %]
[% END %]
<input
    type="hidden"
    name="[% veldoptie_name %]_checkbox"
    value="1"
/>
[% checkbox_counter = 0 %]

[% FOR optie IN veldoptie_opties.keys.sort %]
    [% checkbox_counter = checkbox_counter + 1 %]  
    [% optie_escaped = optie | html_entity %]
    [% checkbox_id = veldoptie_id _ checkbox_counter %]
    <label class="checkbox-item" for="[% checkbox_id %]">
    <input
        type="checkbox"
        name="[% veldoptie_name %]"
        value="[% optie %]"
        id="[% checkbox_id %]"
        [% (veldoptie_values.$optie ? ' checked="checked"' : '') %]
    />
    [% veldoptie_opties.$optie | ucfirst %]</label><br/>
[% END %]
