@import "../../../shared/styles/breakpoints";

$animspeed: .15s;
$topbar-height:54px;
$nav-button-size:32px;

@mixin nav-button($size) {
	font-size: $size;
	background: none;
	border: 0;
	color: #fff;
	height: $nav-button-size;
	line-height:$nav-button-size+2;
	width:30px;
	vertical-align: middle;
	border-radius:100%;
	padding:0;
}

bbv-nav {	
	width: 100%;
	display: flex;
	flex: 0 0 auto;

	.bbv-nav__pusher {
		display: none;
		height: 140px;
	}

	.bbv-nav__container {
		display: flex;
		flex-flow: row nowrap;
		flex: 1 1 auto;
		justify-content: space-between;
		position: relative;
		height: 140px;
		width: 100%;
		z-index: 1;
		background: #999;
		box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
	}

	.bbv-nav__bg {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-size: cover;
		background-position: center;
	}

	.bbv-nav__title {
		position: absolute;
		padding: 0 20px;
		top: 5px;
		z-index: 1;
		display: flex;
		h1 {
			color: white;
			font-size: 18px;
			margin: 0;
			padding: 10px 0;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

	}

	.bbv-nav__tabs {
		display: flex;
		padding-left: 30px;
		flex: 1 0 auto;
		max-width: 460px;
		height: $topbar-height;
		align-self: flex-end;
		position: relative;
		margin-right:auto;

		a {
			display: block;
			width: 50%;
			float: left;
			position: relative;
			padding: 16px 10px;
			color: #fff;
			text-align: center;
			text-decoration: none;

			span{
				opacity: 0.8;
				text-transform: uppercase;
				display: inline-block;
				text-overflow: ellipsis;
				max-width: 100%;
				overflow: hidden;
			}

			&.active span{
				opacity: 1;
			}
		}


		.bbv-nav__tabs-slidecontainer{
		  position: absolute;
		  left: 0;
		  bottom: 0;
		  width: 100%;
		  padding-left: 30px;
		}

		.bbv-nav__tabs-slide {
		  height: 2px;
		  transition-property: transform;
		  background: #fff;
		  width: 100%;
		}

	}

	.bbv-nav__button-bar {
		padding: 0 10px;
		z-index: 1;

		position: fixed;
		top: 0;
		right: 0;

		height: $topbar-height;
		vertical-align: middle;

		display: flex;
		align-items:center;

		button {
			@include nav-button(22px);
			margin: 0 0 0 5px;
			&:active{
				background:rgba(0,0,0,0.2);
			}
		}
	}

	.bbv-nav__search{
		display: flex;
		position: fixed;
		z-index: 2;
		left: 0;
		top: -$topbar-height;
		width: 100%;
		height: $topbar-height;
		padding: 4px;
		opacity: 0;
		transition: $animspeed opacity ease-in-out;

		vertical-align: middle;

		&.active {
			top: 0;
			opacity: 1;
		}

		.bbv-nav__inputcontainer{
			display: flex;
			width: 100%;
			height: 46px;
			background: #fff;
			border-radius: 2px;
			padding: 8px 8px 8px 6px;
			overflow: hidden;
			float: left;
			box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
		}

		.bbv-nav__searchicon{
    		font-size: 24px;
    		line-height: 1.45em;
    		padding: 0px 12px 0 8px;
    		display: inline-block;
    		.mdi{
    			color:#888;
    		}
		}

		.bbv-nav__searchinput{
			border: 0;
			font-size: 16px;
			padding-left: 0;
			display: flex;
		    flex-grow: 1;
    		width: 90%;
    		display: inline-block;
    		&:focus{
    			outline: none;
    		}
		}

		.bbv-nav__clearbutton{
			@include nav-button(19px);
			float: right;
			color: #bbb;
    		line-height: 1.6em;
			transition: $animspeed color ease-in-out;
			margin: 0;
			display: inline-block;

			&:hover{
				color: #000;
			}
		}

		.bbv-nav__searchrightbuttons{
			margin: 0 10px;
			button{
				@include nav-button(22px);
				padding-top: 5px;
			}
		}

	}

	&.small {
		.bbv-nav__pusher {
			display: block;
		}

		.bbv-nav__container {
			height: auto;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			z-index: 5;
		}

		.bbv-nav__title {
			display: none;
		}

		.bbv-nav__tabs {
			position: relative;
		}

		// if we have fixed items within fixed items,
		// iPad (iOS 8.x) can't deal with it

		.bbv-nav__button-bar {
			position: absolute;
		}

		.bbv-nav__search{
			position: absolute;
		}
	}

	.bbv-nav__searchresults{
		position: absolute;
		left: 0px;
		top: 52px;
		padding: 0 4px;		
		clear: both;
		width: 100%;
		font-size: 14px;
		
		ul {
			border-radius: 3px;
			background: #fff;
			margin: 0;
			box-shadow: 0px 2px 5px rgba(0,0,0,0.45);

			li {
				&:hover,
				&.suggestion-list-item-highlighted {
					button {
						color: #fff;
						background: #000;
						cursor: pointer;
					}
				}
				button {
					width: 100%;
					padding: 5px 10px;
					border: 0;
					background: none;
					text-align: left;
				}
			}
		}
	}

	.bbv-nav__searchfilterlabel{

		background: #999;
		border-radius: 8px;
		padding: 0 8px;
		color: #fff;
		margin-right: 5px;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 14px;
		white-space: nowrap;
		flex: 1 0 auto;
		line-height: 1.2em;
		
		&:last-of-type{
			margin-right: 10px;
		}

		> span {
			display: flex;
			margin-right: 2px;
		}

		> zs-icon {
			display: flex;
			&:hover{
				cursor: pointer;
			}
		}
	}
}

zs-ui-view-progress {

	position: fixed;
	top: 0;
	width: 100%;
	z-index: 6;
	display: block;
	height: 3px;

	zs-n-progress {
		display: block;
		width: 100%;
		height: 100%;
		&.nprogress-custom-parent {
			overflow: visible;
		}
	}
}

@media (max-width: $small-screen) {
	bbv-nav .bbv-nav__tabs,
	bbv-nav .bbv-nav__tabs .bbv-nav__tabs-slidecontainer{
		padding-left:0;
	}
}
