@import '../../../shared/styles/_variables.scss';

case-detail-view {
	display: block;
	position: absolute;
	height: 100%;
	overflow-y: auto;
	width: 100%;

	.case-detail-view__body{
		padding-top: 65px;
		margin-left: auto;
		margin-right: auto;
		max-width: 925px;

		p{
			padding-left: 15px;
			padding-right: 15px;
		}

		hr{
			border-top: solid 1px #eaeaea;
		}
	}

	.case-detail-view__button-container{
		width: 100%;
		padding: 5px 15px 15px 15px;
		text-align: center;
	}

	.case-detail-view__list {
		margin-top: 0;
		padding: 0px 5px 60px 5px;
	}

	.case-detail-view__item{
		font-size:1.067rem;
		margin-bottom: 30px;
	}

	.case-detail-view__label{
		color: #000;
		font-weight: 500;
		line-height: 1.7;
	}

	.case-detail-view__buttons{
		padding: 20px;
	}

	.case-detail-view__file{
		a{
			width: 100%;
			display: flex;
			flex-direction: row;
			align-items: center;
			padding: 10px 15px;

			zs-icon{
				font-size: 20px;
				margin-right: 10px;
			}

			.case-detail-view__value{
				color: #000;
			}

			&:hover{
				background: rgb(232,230,231);
				cursor: pointer;
			}
		}
	}

	.case-detail-view__nofiles{
		padding: 20px;
	}

}

.case-detail-view__header {
	position: fixed;
	width: 100%;
	padding: 10px;
	background: rgb(232,230,231);
	z-index: 10;
	color: #000;
	display: flex;	
	align-items: center;
	flex-flow: column;
	flex: 0 1 auto;

	&.case-detail-view__header--modal{
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
		background: rgb(240,240,240);
		color: #000;
	}

	.case-detail-view__header-container {
		display: flex;
		position: relative;
		z-index: 1;
		width: 100%;
		flex-flow: row nowrap;
		max-width: 925px;
		padding-left: 20px;
		padding-right: 20px;
		align-items: center;
	}

	.case-detail-view__header-button {
		background: none;
		border: 0;
		font-size: 1.6em;
		width:36px;
		height:36px;
		line-height: 36px;
		border-radius:100%;
		display: flex;
		padding: 0 5px;
		margin-right: 5px;

		&:hover {
			background:rgba(255,255,255,.15);
		}

	}

	.case-detail-view__header-title {
		font-size: 18px;
		align-items:center;
		word-wrap: initial;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		margin-top: -2px;
	}

}

$transition-duration: 0.35s;
$transition-scale: 1;

.zs-modal.filename-modal{
	transition: all cubic-bezier(0.4,0,.2,1) #{$transition-duration};
	z-index: 13;

	.zs-modal-content{
		padding-left: 20px;
		padding-right: 20px;

		.input_container{
			display: flex;
			align-items: center;

			input{
				margin-right: 10px;
			}
		}

		button{
			margin-left: auto;
			margin-right: auto;
			margin-top: 15px;
		}

	}

}

.zs-modal.filename-modal.ng-enter-active .zs-modal-body{
	animation: filename-modal-body-in #{$transition-duration};
}

@keyframes filename-modal-body-in {
	0%, 50% { transform: scale3d(0.7,0.7,0.7); opacity: 0;}
	100% { transform: scale3d(1,1,1); opacity: 1;}
}

@media #{$large-only}{
	.case-detail-view__list{
		max-width:60rem;
	}
}

@media #{$medium-and-down}{
	.case-detail-view__header .case-detail-view__header-container {
		padding-left: 0px;
		padding-right: 0px;
	}
}
