<div class="case-detail-view__header">

	<div class="case-detail-view__header-container">

		<button class="case-detail-view__header-button" ng-click="caseDetailView.goBack()">
			<zs-icon icon-type="arrow-left"></zs-icon>
		</button>
		<div class="case-detail-view__header-title">
			{{caseDetailView.getTitle()}}
		</div>
		
	</div>
	
</div>

<div class="case-detail-view__body">

	<p>Document opslaan als nieuw document in zaak</p>

	<div class="case-detail-view__button-container">
		<button 
			class="btn btn-secondary"
			ng-click="caseDetailView.handleSaveClick()"
		>
			Opslaan als nieuw
		</button>
	</div>

	<hr />

	<p>Bestaande documenten in de zaak openen</p>

	<ul 
		class="case-detail-view__list"
		ng-if="caseDetailView.getDocuments().length"
	>
		<li class="case-detail-view__file" ng-repeat="file in caseDetailView.getDocuments() track by file.id">
			<a ui-sref="caseDocument({ caseId: caseDetailView.getCaseUuid(), fileId: file.filestore_id.uuid, fileNumber: file.id })">
				<zs-icon icon-type="file"></zs-icon>
				<div class="case-detail-view__value">{{::file.name}}{{::file.extension}}</div>		
			</a>
		</li>
	</ul>

	<div 
		class="case-detail-view__nofiles"
		ng-if="!caseDetailView.getDocuments().length"
	>
		Geen bewerkbare (.doc / .docx) documenten in deze zaak gevonden.
	</div>
</div>
