<zs-top-bar
	on-open="vm.onOpen()"
	on-close="vm.onClose()"
	data-user="vm.getUser()"
	data-company="vm.getCompany()"
	use-location="vm.useLocation()"
	data-development="vm.isDevelopment()"
	instance-id="vm.getInstanceId()"
>
</zs-top-bar>

<div class="bottom-right-container">

	<zs-active-subject></zs-active-subject>

	<zs-contextual-action-menu></zs-contextual-action-menu>

</div>

<div class="backdrop ng-hide" ng-show="vm.isMenuOpen()"></div>
