.import .import_item_inner.top{
    border-top: none;
}

.import .import_item_inner.bottom{
    border-top:none;
}

.import_overlay .import_item_inner:hover{
    border-color: #bbb !important;
}

.import_overlay .import_item_inner{
    margin-top:0;
    font-weight: bold;
    background-color: #fff;
    background-image: none !important;
    border-color: #bbb;
    z-index: 0;
}

.import_overlay .import_item_inner .title{
    background: #e8e8e8;
    background: rgba(0,0,0,0.05);
}

.import_overlay .import_item_inner.with-category .rfa .action{
    display: block;
    height: auto;
    font-weight: normal;
}

.import_overlay .import_item_inner.with-category .rfa .action{
    padding: 12px 0 0 18px;
}

.import_overlay .import_item_inner.with-category .rfa .action:first-child{
    padding-top:0;
}

.import_overlay .import_item_inner.with-category .rfa .action.voeg-meegeleverd-toe{
    padding-top: 0px;
}

.import_overlay .import_item_inner.no-category .rfa .action.voeg-meegeleverd-toe{
    padding-top: 16px;
    display: block;
    height: auto;
}

.import_overlay .no-category .rfa .action label{
    float: left;
    line-height: 2;
}

.import_overlay .rfa .action{
    padding-left: 18px !important;
    background: none !important;
    font-weight: normal;
}

.import_overlay .rfa .action .ui-selectmenu{
    display: inline-block !important;
}

.import_overlay .rfa .action .ui-selectmenu-status{
    height: 19px;
    white-space: nowrap;
    margin-right: 2.1em;
    padding-right: 0;
    overflow: hidden;
}

.import_overlay .rfa .action label{
    display: inline-block;
    width: 145px;
}

.import_overlay .with-category .rfa .action label{
    float: left;
    line-height: 2;
}

.import_overlay .with-category .rfa .action.multi-categorie label{
    float: none;
    display: inline;
    width: auto;
}

.import_overlay .rfa .action label span{
    font-size: 11px;
    font-style: italic;
}

.import_overlay .rfa .button{
    position: absolute;
    bottom: 16px;
    right: 13px;
}

.import_overlay .import_item_inner:hover{
    background-color: #eee !important;
    cursor: pointer;
}

.import_overlay .import_item_inner.import_item_active{
    box-shadow: none;
    border-color: #bbb;
    background-image: none;
    background-color: #f8f8f8;
}

.import_overlay .import_item_inner.import_item_inactive .check{
    display: none;
}

.import_overlay select{
    max-width: 190px;
}

.import .toggle{
    background: url(/images/import-toggle.png) no-repeat 0 0;
    height: 11px;
    width: 15px;
    position: absolute;
    left: 20px;
    top: 50%;
    margin-top: -5px;
}

.import .import_item_inner .title input[type="checkbox"] {
    position: absolute;
    top: 50%;
    margin-left: 4px;
    margin-top: -8px;
}

.import .open .toggle{
    background-position: 0 -11px;
}

.import .radio-button{
    background: url(/images/import-radiobuttons.png) no-repeat 0 0;
    width: 26px;
    height: 26px;
    position: absolute;
    left: 15px;
    top: 11px;
}

.import .radio-button:hover, .import_overlay .import_item_inner:hover .radio-button{
    background-position: 0 -26px;
}

.import .radio-button:active, .import_overlay .import_item_inner:active .radio-button{
    background-position: 0 -52px;
}

.import .import_item_active .radio-button{
    background-position: -26px 0;
}

.import .import_item_active .radio-button:hover, .import_overlay .import_item_inner.import_item_active:hover .radio-button{
    background-position: -26px -26px;
}

.import .import_item_active .radio-button:active, .import_overlay .import_item_inner.import_item_active:active .radio-button{
    background-position: -26px -52px;
}

.import_error_tooltip_wrap{
    position: relative;
}

.import_error_tooltip{
    position: absolute;
    background: #111 url(/images/icon-alert.png) 10px center no-repeat;
    background: rgba(0,0,0,0.7) url(/images/icon-alert.png) 10px center no-repeat;
    color: #fff;
    width: 130px;
    top:15px;
    border-radius: 3px;
    font-size: 11px;
    display: none;
    text-align: left;
    padding: 5px 5px 5px 33px;
    font-weight: bold;
    z-index: 1;
    margin-left: 15px;
}

.import_error_tooltip .tip{
    display: block;
    width: 5px;
    height: 9px;
    background: url(/images/import-tip-left.gif) no-repeat 0 0;
    position: absolute;
    top: 10px;
    left: -5px;
    opacity: 0.7;
}

.vergelijking-keuzemogelijkheden{
    padding:5px 10px;
    margin:10px 0;
    border:2px solid #ddd;
    font-size:11px;
    font-weight: bold;
    > div{
        float:left;
        width:48%;
        padding:1%;
    }
}

.voeg-geimporteerde-keuzemogelijkheden-in{
    width:100% !important;
    font-weight: bold;
    font-size:11px;
}

.field_value_not_imported {
    display: none;
}

.import .rfa{
    display:table-cell;
    vertical-align: middle;
    width: 68%;
    padding-right: 10%;
    padding-top:15px;
    padding-bottom:15px;
}

.import .rfa .action{
    position: relative;
    padding-left: 50px;
    background: url(../images/import-check.png) 20px center no-repeat;
    table.fixed-layout{
        td,th{padding:.8em !important;}
    }
}

.import .import_item_error .rfa .action{
    background: url(../images/import-error.png) 20px center no-repeat;
}

.import_kenmerk_only_active_values{
    position:absolute;
    right:20px;
    top:50%;
    z-index:2;
    margin-top:-12px;
}