/**
 * Typography
 */


* { 
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	line-height: 1.231; 
	text-rendering: optimizeLegibility; 
	font-size: 92.5%; 
	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%; 
}

body{
	padding:0 15px;
	margin:0;
	
}

.man_content,.man_header_inner{
	max-width: 1150px;
	//padding:0 20px;
	position: relative;
}

.man_content{
	margin:15px auto;
}

.man_header_inner{
	margin:0 auto;
}

.man_header{
	margin-bottom:20px;
	padding:10px 20px;
	background:#45525a;
	height:30px;
	margin:0 -15px;
}

h1.man_header_title{
	font-weight: normal;
	color:lighten(#45525a,40%);
	font-size:1.6em;
	margin:0;
	float:left;
	padding-top:3px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
	.logo{
		text-indent: -9999px;
		background:url(/images/logos/logo-zaaksysteem.png);
		width:195px;
		display: inline-block;
		vertical-align: text-top;
		height:19px;
	}
}

h1.man_page_title{
	margin-top:1.75em;
	font-size:2.5em;
	font-weight: 500;
}


.man_article{
	padding:00px 0 20px 0;
	margin-right:400px;
}

$input-bg-color:darken(#45525a,10%);
$input-border-color:darken(#45525a,15%);

input.man_autocomplete{
	padding:5px 8px;
	font-size:1.25em;
	width:332px;
	float:right;
	background:$input-bg-color;
	border:1px solid $input-border-color;
	color:#fff;
	font-weight: normal;
	background-image: url(/images/spotenlighter-magnifier.png);
	background-repeat: no-repeat;
	background-position: 10px 50%;
	text-indent: 26px;
	&:focus{
		width:100%;
		position: absolute;
		left:0px;
	}
}

.man_toc_modules{
	width:332px;
	position: absolute;
	right:0px;
	top:8px;
	border:1px solid #ccc;
	border-radius:3px;
	font-size:1em;
	background:#f4f4f4;
	h2{
		margin:0;
	}
	ul,li{
		list-style: none;
	}
	> ul{
		margin:0;
		> .man_toc_category{
			ul{
				margin:0;
			}
			li{
				a{
					border-top:1px solid #e4e4e4;
					display: block;
					padding:5px 8px 5px 35px;
					font-size:.85em;
					position: relative;
					&:hover{
						background:#f0f0f0;
					}
					&.current:before{
						display: block;
						width:5px;
						background:#0088cc;
						height:100%;
						min-height:3px;
						left:0;
						top:0;
						content:'';
						position: absolute;
					}
				}
				ul li a{
					padding-left:55px;
				}
				ul li ul li a{
					padding-left:75px;
				}
			}
			> h2{
				padding:8px 10px;
				border-top:1px solid #e4e4e4;
				background:#fff;
			}
			.active {
				font-weight: 800;
			}
			h2 {
				font-size:18px;
				font-weight: 600;
			}
			&:first-child h2{
				border:none;
				border-radius:3px 3px 0 0;
			}
		}
	}
}

@media only screen and (max-width:810px){
	input.man_autocomplete{
		position: absolute;
		right:-5px;
		width:35px;
		border:none;
		background-color:transparent;
		&:hover{
			cursor:pointer;
		}
		&:focus{
			background-color:$input-bg-color;
			border:1px solid $input-border-color;
		}
	}
	h1.man_header_title{
		width:90%;
		margin-right:10%;
	}
	.man_article{
		margin-right:0;
	}
	.man_toc_modules{
		width:100%;
		position:static;
	}
	h1.man_page_title {
		margin-top: 1em;
	}
}

.ui-autocomplete{
	max-height:350px;
}

a 
{ 
	font-weight: inherit; 
	font-size: inherit; 
	text-decoration: none; 
	color: #0088cc;
}
a:hover {
	color: #005580;
	text-decoration: underline;
}
a:active 
{ 
}
a:focus 
{ 
	outline: 0; 
}
a:hover, 
a:active 
{ 
	outline: 0; 
}
abbr[title] 
{ 
	border-bottom: 1px dotted; 
}
b, 
strong 
{ 
	color: inherit;
	font-weight: bold; 
}

b a{
	background: #f6f6f6;
	border: 1px solid #ccc;
	border-radius: 2px;
	padding: 0 12px;
	font-size: 15px;
	line-height: 28px;
	height: 28px;
	display: inline-block;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	font-family: 'trebuchet ms',arial,helvetica,sans-serif;
}

blockquote
{ 
	font-size: 24px; 
	font-weight: 100; 
	line-height: 28px; 
	padding: 15px 0 0 75px;
	margin: 15px 0 25px 0;
	float: left; 
}
blockquote:before 
{ 
	content: '\201C'; 
	font-size: 128px; 
	font-weight: 200;
	color: #dddddd;
	margin-left: -25px;
	margin-bottom: 10px;
	position: absolute; 
}
span.fancyamp
{
	font-family: Baskerville, Palatino, "Book Antiqua", serif;
  	font-style: italic;
  	color: inherit;
  	font-size: inherit;
}
dfn 
{ 
	font-style: italic; 
}
hr 
{ 
	display: block; 
	height: 0px; 
	width: 100%; 
	border: 0; 
	border-bottom: 1px solid #eeeeee; 
	margin: 25px 0; 
	padding: 0; 
	float: left; 
}
ins 
{ 
	background: #ffffe0; 
	text-decoration: none; 
}
mark 
{ 
	background: #ffffe0; 
	font-style: italic; 
	font-weight: bold; 
}
address 
{ 
	display: block; 
	line-height: 18px; 
	margin-bottom: 18px; 
}
pre, 
code, 
kbd, 
samp 
{ 
	font-family: monospace; 
}
code
{
	font-size: 14px;
}
pre 
{
	display: block;
	overflow: auto;
	background: #fefefe;
	padding: 15px 15px 15px 0px;
	border-radius: 2px;
	/*box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);*/
	font-family: monospace;
	background: #f7f7f7;
	border: 1px solid #ccc;
	font-size:1.5em;
}
pre.codeblock
{
	padding: 5px 5px 5px 5px;
}
pre.codeblock *
{
	font-family: Consolas, Monaco, 'Andale Mono', monospace;
	font-size: smaller;
}
q 
{ 
	quotes: none; 
}
q:before, 
q:after 
{ 
	content: ""; 
	content: none; 
}
small 
{ 
	font-size: 50%;
}

/**
 * Position subscript and superscript 
 * content without affecting line-height. 
 */
sub, 
sup 
{ 
	font-size: 75%; 
	line-height: 0; 
	position: relative; 
	vertical-align: baseline; 
}
sup 
{ 
	top: -0.5em; 
}
sub 
{ 
	bottom: -0.25em; 
}

/** 
 * Give paragraphs some default styling. 
 */
p 
{ 
	font-size: 18px;
	line-height: 1.35em;
	margin: 0 0 1.125em 0;
}
p small 
{ 
	font-size: 12px; 
}

/** 
 * Give headings some default styling. 
*/
h1, 
h2, 
h3, 
h4, 
h5, 
h6
{ 
	font-weight: 200;
}

/*
h1 { text-transform: lowercase; }
h1:first-letter {text-transform: capitalize; }
*/

/** 
 * Set individual heading styles 
*/
h1
{ 
	font-size: 2em;
	line-height: 1.2em;
	margin-top: 1.25em; 
	margin-bottom: 0.7em;
	font-weight: 500;
}
h2
{ 
	font-size: 1.7em;
	line-height: 1.2em;
	margin-top: 1.25em; 
	margin-bottom: 0.7em; 
    /* border-bottom: 3px solid #0088CC; */
    margin-left: 0em;
    font-weight: 500;
}
h3
{ 
	font-size: 1.4em; 
	line-height: 1.2em; 
	margin-top: 0.75em; 
	margin-bottom: 0.7em; 
	font-weight: 500;
}
h4
{ 
	font-size: 1em; 
	line-height: 1.2em; 
	margin-top: 0.75em; 
	margin-bottom: 0.7em; 
}
h5
{ 
	font-size: 0.875em; 
	line-height: 1.125em; 
	margin-top: 1.125em; 
	margin-bottom: 0.6em; 
}
h6
{ 
	font-size: 0.75em; 
	line-height: 1.2857em; 
	margin-top: 1.2857em; 
	margin-bottom: 0.5em; 
}




/**
 * Lists
 */
ul, 
ol 
{ 
	margin: 0 0 15px 0; 
	padding: 0; 
}
ul ul, 
ul ol, 
ol ol, 
ol ul 
{ 
	margin-bottom: 0; 
}
ul 
{ 
	list-style: disc; 
}
ol 
{ 
	list-style: decimal; 
}
ol.roman
{
	list-style: upper-roman;
}
li 
{ 
	font-size: 18px;
	line-height: 1.6em;
	/* text-transform: lowercase; */
}
/* li:first-letter {text-transform: capitalize; } */

dl 
{ 
	margin-bottom: 15px; 
}
dl dt, 
dl dd 
{ 
	font-size: 1.5em;
}
dl dt 
{  
	/*text-transform: lowercase;*/
	margin-bottom: 15px;
	margin-left: 15px; 
}
dl dt:first-letter {
	/*text-transform: capitalize;*/
}

dl dt a{

}
dl dd 
{ 
	margin-left: 35px; 
}

ul, ol 
{ 
	margin: 0 0 10px 20px; 
	padding: 0; 
}
dd { 
	margin: 0 0 0 20px; 
}

dl dt a{
	font-weight: 500;
	margin-top:30px;
	display: block;
}

div.indexgroup:before {
    color: #0088CC;
	font-size: 2.3em;
	line-height: 1.2em;
	margin:.25em 0;
    display: block;
}

/** 
 * We probably don't want list-styles if it's in a navigation. 
 */
nav ul, 
nav ol, 
#nav ul, 
#nav ol, 
#navigation ul, 
#navigation ol, 
.nav 
{ 
	list-style: none; 
	list-style-image: none; 
	margin: 0; 
	padding: 0; 
}
/* @end Typography */

ul.indexList li > ul > li > ul > li a{
	font-size:.8em;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
