.branding {
    text-indent: -9999px;
    width: 210px;
    height: $topbar-height;
    float: left;
    margin:5px;
}

.branding a{
    display: block;
    width: 210px;
    height: $topbar-height;
    background-position: 0px center;
    background-repeat: no-repeat;
}

.gemeente_bussum .branding a{
    background-image: url(/images/logos/logo-bussum-klein.png);
}

.gemeente_baarn .branding a{
    background-image: url(/images/logos/logo-baarn-klein.png);
}

.gemeente_debilt .branding a,
.gemeente_debilt_old .branding a{
    background-image:url(/images/logos/logo-debilt-klein.png);
}

.logo_tholen .branding a{
    background-image:url(/images/logos/logo-tholen.png);
}

.gemeente_tholen .branding a,
.gemeente_tholen-old .branding a{
    background-image:url(/images/logos/logo-tholen-klein.png);
}

.gemeente_ede .branding a{
    background-image:url(/images/logos/logo-ede.png);
}

.gemeente_vianen .branding a{ 
    background-image: url(/images/logos/logo-vianen.png); 
}

.gemeente_brandweer .branding a{
    background-image: url(/images/logos/logo-brandweer.png); 
}

#login.gemeente_mintlab .top-bar .branding a{
    background-image: url(/images/logos/logo-mintlab.svg);
    width:100px;
    background-position:left center;
    margin:auto;
}

.gemeente_mintlab#login #topsection .branding a{
    width: 115px;
    margin: 0 auto;
}

.gemeente_groningenseaports .branding a{
    background-image: url(/images/logos/logo-seaports.png); 
}

.gemeente_wijkbijduurstede .branding a{
    background-image: url(/images/logos/logo-wijkbijduurstede.png);
}

.gemeente_epe .branding a,
.gemeente_epe-oud .branding a{
    background-image: url(/images/logos/logo-epe.png);
}

.gemeente_desom .branding a{
    background-image: url(/images/logos/logo-desom.png);
}

.gemeente_voerendaal .branding a{
    background-image: url(/images/logos/logo-voerendaal.png);
}

.gemeente_roosendaal .branding a{
    background-image: url(/images/logos/logo-roosendaal.png);
}

.gemeente_oude-ijsselstreek .branding a{
    background-image: url(/images/logos/logo-oude-ijsselstreek.png);
    width:201px;
    background-position:left center;
}

.gemeente_bbz .branding a{
    background-image: url(/images/logos/logo-bbz.png);
}

.gemeente_diemen .branding a{
    background-image: url(/images/logos/logo-diemen.png);
}

.gemeente_uithoorn .branding a{
    background-image: url(/images/logos/logo-uithoorn.png);
}

.gemeente_ouder-amstel .branding a{
    background-image: url(/images/logos/logo-ouder-amstel.png);
}

.gemeente_lingewaard .branding a,
.gemeente_lingewaard-oud .branding a{
    background-image: url(/images/logos/logo-lingewaard.png);
}

.gemeente_imk .branding a{
    background-image: url(/images/logos/logo-imk.png);
    background-size:130px;
}

.gemeente_solo .branding a,
.gemeente_solo-buren .branding a,
.gemeente_solo-optimisd .branding a,
.gemeente_solo-berg-en-dal .branding a,
.gemeente_solo-hulst .branding a{
    background-image: url(/images/logos/logo-solo.png);
}

.gemeente_werkplein .branding a{
    background-image: url(/images/logos/logo-werkplein.png);
}

.gemeente_lansingerland .branding a{
    background-image: url(/images/logos/logo-lansingerland.png);
}

.gemeente_schouwen-duiveland .branding a{
    background-image: url(/images/logos/logo-schouwen-duiveland.png);
    background-position: center;
    background-size:cover;
    height:22px !important;
    max-width:181px;
    margin:11px 0 0 6px;
}

#login.gemeente_schouwen-duiveland #topsection .branding a{
    margin:35px auto 0;
}

.gemeente_niwo .branding a{
    background-image: url(/images/logos/logo-niwo.png);
}

.gemeente_zaaksysteem .branding a{
    background-image:url(/images/logos/logo-zaaksysteem.png);
    background-position: center;
}

.gemeente_sudwest-fryslan .branding a{
    background-image: url(/images/logos/logo-sudwest-fryslan.png);
}

.gemeente_zaakstad .branding a{
    background-image: url(/images/logos/logo-zaakstad.svg);
    height:20px;
    margin-top:12.5px;
}

.gemeente_werkendam .branding a{
    background-image: url(/images/logos/logo-werkendam.png);
}

.gemeente_noordenveld .branding a{
    background-image: url(/images/logos/logo-noordenveld.png);
}

.gemeente_halderberge .branding a{
    background-image: url(/images/logos/logo-halderberge.png);
}

.gemeente_moerdijk .branding a{
    background-image: url(/images/logos/logo-moerdijk.png);
}

.gemeente_bwb .branding a{
    background-image: url(/images/logos/logo-bwb.png);
}

.gemeente_etten-leur .branding a{
    background-image: url(/images/logos/logo-etten-leur.png);
}

#login.gemeente_zaakstad #topsection .branding a{
    height:20px;
    margin-top:36px;
}

.gemeente_leerdam .branding a{
    background-image: url(/images/logos/logo-leerdam.png);
}

.gemeente_noaberkracht .branding a{
    background-image: url(/images/logos/logo-noaberkracht.png);
}

.gemeente_hlt .branding a{
    background-image: url(/images/logos/logo-hlt.png);
}

.gemeente_hellendoorn .branding a{
    background-image: url(/images/logos/logo-hellendoorn.png);
}

.gemeente_dinkelland .branding a{
    background-image: url(/images/logos/logo-dinkelland.png);
}

.gemeente_tubbergen .branding a{
    background-image: url(/images/logos/logo-tubbergen.png);
}

.gemeente_teylingen .branding a{
    background-image: url(/images/logos/logo-teylingen.png);
}

.gemeente_lisse .branding a{
    background-image: url(/images/logos/logo-lisse.png);
}

.gemeente_waalre .branding a{
    background-image: url(/images/logos/logo-waalre.svg);
    height: 50px !important;
}

#login.gemeente_waalre .branding a{
    margin-top: 20px !important;
}

.gemeente_steenbergen .branding a{
    background-image: url(/images/logos/logo-steenbergen.png);
}