@import "dependencies";

.button{
    margin:0;
    font-size: 1em;
    cursor: pointer;
    font-weight: normal;
    font-family: inherit;
    line-height: 1.5;
    position: relative;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding:$button-normal-padding-vertical $button-normal-padding-horizontal;
    @include border-radius($button-border-radius);
    &[disabled='disabled']{
        @include opacity(.35);
    }
    &[disabled='disabled']:active{
        top:0;
    }
    // &:focus{
    //     outline:none;
    // }
    > i{
        vertical-align: middle;
        color:$icon-color;
        -webkit-font-smoothing:antialiased;
        font-style: normal;
        position:relative;
        display: inline-block;
        min-width:14px;
        &.icon-bitmap,&.icon-graphic{
            top:0;
        }
        &.icon-only{
            margin-right:0;
        }
    }
    &.button-mega{
        padding:$button-mega-padding;
        font-size:1.692em;
    }
    &.button-xlarge{
        padding:$button-xlarge-padding;
        font-size:1.3em;
    }
    &.button-large{
        padding:$button-large-padding-vertical $button-large-padding-horizontal;
        font-size:1.231em;
        > .icon{
            line-height:18px;
            font-size:18px;
            min-width:18px;
        }
    }
    &.button-medium{
        padding:$button-medium-padding-vertical $button-medium-padding-horizontal;
        font-size:1.077em;
        > .icon{
            line-height: 16px;
            margin-right:4px;
            min-width:15px;
        }
    }
    &.button-small{
        padding:$button-small-padding-vertical $button-small-padding-horizontal;
        font-size:1em;
        min-width:1em;
    }
    &.button-smaller{
        padding:$button-smaller-padding-vertical $button-smaller-padding-horizontal;
        font-size:.929em;
        min-width:1em;
    }
    &.button-xsmall{
        padding:$button-xsmall-padding-vertical $button-xsmall-padding-horizontal;
        line-height: 1.4;
        font-size:.929em;
        &.button-on-hover{
            padding:0 3px !important;
        }
    }
    &.right{
        margin-left:5px;
    }
    &.button-icon-only{
        > .icon{
            margin-right:0;
        }
    }
    
}

button,a{
    i.icon-font-awesome,
    i.icon{
        position: relative;
    }
    i.icon-font-awesome{
        font-size:1.1em;
    }
    i.mdi{
        font-size:1.6rem;
        vertical-align: middle;
    }
}

.button-primary {
    color: $button-primary-text-color;
    border: 1px solid $button-primary-border-color;
    background: $button-primary-bg-color;
    &:hover{
        border: 1px solid lighten($button-primary-bg-color,5%);
        background:lighten($button-primary-bg-color,5%);
        color:#fff;
    }
    &:active,&.button-active{
        background: darken($button-primary-bg-color,5%);
        @include box-shadow(inset 0 1px 2px rgba(0,0,0,0.3));
    }
    &[disabled='disabled']{
        background: $button-primary-bg-color;
        &:hover{ cursor: default; @include box-shadow(none);border-color:$button-primary-border-color;}
        &:active{ @include box-shadow(inset 0 1px 0 $button-primary-inner-shadow); }
    }
}
    
.button-secondary{
    color:$button-secondary-text-color;
    border: 1px solid $button-secondary-border-color;
    border-top-color:lighten($button-secondary-border-color,5%);
    background: $button-secondary-bg-color;
    &:hover{
        border-color: #777;
        background:lighten($button-secondary-bg-color,4%);
    }
    &:active,&.button-active{
        @include box-shadow(inset 0 1px 2px rgba(0,0,0,0.15));
        background:#d5d5d5;
    }
    &.button-on-hover{
        padding:4px 5px;
        line-height: 1.3;
        border:1px solid transparent;
        background:none;
        &:hover{
            border-color: darken($button-secondary-border-color,10%);
            background: $button-secondary-bg-color;
        }
        &:active,&.zs-popup-menu-button-active{
            border-color: darken($button-secondary-border-color,10%);
            color:#000;
        }
    }
}

.zs-popup-menu-open > .button-secondary{
    background-color:#383838;
    @include background(linear-gradient(to top, #383838 0%, #484848 100%) !important);
    @include box-shadow(inset 0 1px 2px black);
    border-color: #000 !important;
    color:#fff;
    i{
        color:#fff;
    }
}


.button-group{
    font-size:1em;
    .button{
        float:left;
        margin-left:-1px;
        //@include border-radius(0);
        &.button-small > i.icon{
            margin-right:0;
            font-size:1.077em;
        }
    }
    // .button:first-child{
    //     margin-left:0;
    // }
    > .button-group{float:left;}
}

.button-group-relative{
    position: relative;
}




.button-group > .button:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  @include border-radius(0);
}

// Set corners individual because sometimes a single button can be in a .button-group and we need :first-child and :last-child to both match
.button-group > .button:first-child {
  &:not(:last-child):not(.dropdown-toggle) {
    @include border-right-radius(0);
  }
}
// Need .dropdown-toggle since :last-child doesn't apply given a .dropdown-menu immediately after it
.button-group > .button:last-child:not(:first-child),
.button-group > .dropdown-toggle:not(:first-child) {
  @include border-left-radius(0);
}

// Custom edits for including button-groups within button-groups (useful for including dropdown buttons within a button-group)
.button-group > .button-group {
  float: left;
}
.button-group > .button-group:not(:first-child):not(:last-child) > .button {
  @include border-radius(0);
}
.button-group > .button-group:first-child {
  > .button:last-child,
  > .dropdown-toggle {
    @include border-right-radius(0);
  }
}
.button-group > .button-group:last-child > .button:first-child {
  @include border-left-radius(0);
}

// On active and open, don't show outline
.button-group .dropdown-toggle:active,
.button-group.open .dropdown-toggle {
  outline: 0;
}

.dropdown-toggle:after{
    content: "\f0d7";
    font-family: "FontAwesome";
    font-size: 10px;
    vertical-align: middle;
    margin-left: 3px;
}

// correct button height in firefox

button::-moz-focus-inner,
input::-moz-focus-inner{
    border: 0;
    padding: 0;
}

.button-remove.icon-font-awesome{
    font-size:1em;
    color:#bbb;
    background: none;
    &:hover{
        color:#000;
    }
}

.button.button-in-header{
    font-size:.85rem;
}