<div class="case-info-group" ng-repeat="group in vm.getGroups() track by group.id">

	<!-- <div class="case-info-group-header">
		{{::group.label}}
	</div> -->

	<ul class="case-info-group-field-list">

		<li class="case-info-group-field vorm-field-item" ng-repeat="field in group.fields track by field.id">
			<div class="case-info-group-field-label form-field-meta">
				<label class="form-field-label">{{::field.label}}</label>
			</div>
			<div class="case-info-group-field-value form-field-control-wrapper">
				{{::field.value}}
			</div>
		</li>
	</ul>


</div>
